#modal {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.btn {
  background-color: rgb(20, 182, 20);
  color: white;
}
