<app-header></app-header>
<h1>Login</h1>
<div class="container">
  <form class="form-container" [formGroup]="loginForm">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="firstName" class="control-label required">First name</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          formControlName="firstName"
          autocomplete="off"
        />
        <app-field-error-display
          [displayError]="isFieldValid('firstName')"
          errorMsg="Please inform your first name"
        >
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="lastName" class="control-label required">Last name</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          formControlName="lastName"
          autocomplete="off"
        />
        <app-field-error-display
          [displayError]="isFieldValid('lastName')"
          errorMsg="Please inform your last name"
        >
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="password" class="control-label required">Password </label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          autocomplete="off"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
        />
        <app-field-error-display
          [displayError]="isFieldValid('password')"
          errorMsg="Please complete a password"
        >
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn" (click)="onSubmit()">Submit</button>
      </div>
    </div>

        <button class="btn" (click)="reset()">Reset</button>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn" routerLink="/signUp">I don't have an account</button>
          </div>
        </div>
  </form>
  <p *ngIf="success" style="color: green; font-size: 22px">
    {{ selectedOption.toUpperCase() }} found
  </p>
  <p *ngIf="success === false" style="color: red; font-size: 22px">
    Something went wrong
  </p>
</div>
