.navbar {
  background-color: black;
  border-bottom: 8px solid rgb(87, 37, 37);
}
.logo {
  padding: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  border-bottom: 5px solid rgb(87, 37, 37);
  border-radius: 10px;
}
.logo:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
}
.btn {
  color: white;
  font-size: 26px;
  border-radius: 10px;
  border-bottom: 5px solid rgb(87, 37, 37);
}
.btn:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
}
.icons {
  object-fit: cover;
  height: 40px;
  width: 40px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 2;
  border-bottom: 5px solid rgb(87, 37, 37);
}

#dropdown:hover .dropdown-content {
  display: block;
}
.content:hover {
  background-color: gray;
}
