<nav class="navbar navbar-dk">
    <a routerLink="/home" class="navbar-brand">
        <p class="logo"><fa-icon [icon]="faCity"></fa-icon> &nbsp;CivicHub</p>
    </a>

    <div>
        <ul class="nav">
            <a class="nav-link" routerLink="/home">
                <p class="btn"><fa-icon [icon]="faHome"></fa-icon> Home</p>
            </a>
            <a class="nav-link" routerLink="/petition-list">
                <p class="btn"><fa-icon [icon]="faFileContract"></fa-icon> Petitions </p>
            </a>
            <a class="nav-link" routerLink="/contact">
                <p class="btn"><fa-icon [icon]="faPhone"></fa-icon> Contact </p>
            </a>
            <a class="nav-link" routerLink="/petition-form">
                <p class="btn"><fa-icon [icon]="faEdit"></fa-icon> Report an issue</p>
            </a>
            <a class="nav-link" routerLink="/tops">
                <p class="btn"><fa-icon [icon]="faTrophy"></fa-icon> Tops </p>
            </a>
            <a class="nav-link" id="dropdown">
                <p *ngIf="logged == 'false' || logged==null" class="btn"><fa-icon [icon]="faUser"></fa-icon> Profile</p>
                <p *ngIf="logged == 'true'" class="btn"><fa-icon [icon]="faUser"></fa-icon>{{firstName}} </p>
                <div class="dropdown-content">
                    <div *ngIf="logged == 'true'" class="content" (click)="toProfile()">Profile</div>
                    <div *ngIf="logged == 'true'" class="content" (click)="logout()">Logout</div>
                    <div *ngIf="logged == 'false' || logged==null" class="content" routerLink="/login">Login</div>
                </div>
            </a>

        </ul>
    </div>
</nav>
