<nav class="navbar navbar-dark">
  <a routerLink="/home" class="navbar-brand">
    <p class="logo">CivicHub <img class="icons" src="assets/images/city.png" /></p>
  </a>

    <div>
      <ul class="nav">
        <a class="nav-link" routerLink="/home">
          <p class="btn">Home <img class="icons" src="assets/images/home.png" /></p>
        </a>
          <a class="nav-link" routerLink="/petition-list">
            <p class="btn">Petitions <img class="icons" src="assets/images/petition.png" /></p>
          </a>
          <a class="nav-link" routerLink="/contact">
            <p class="btn">Contact <img class="icons" src="assets/images/phone.png" /></p>
          </a>
          <a class="nav-link" id="dropdown">
            <p class="btn">Profile <img class="icons" src="assets/images/profile.png" /></p>
              <div class="dropdown-content">
              <div class="content" (click)="checkLoggedIn()">{{firstName}}</div>
              <div *ngIf="logged == 'true'" class="content" (click)="logout()">Logout</div>
              <div *ngIf="logged == 'false'" class="content" routerLink="/login">Login</div>
              </div>
          </a>
          
      </ul>
    </div>
</nav>
