@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 80px;
}

#sign {
  margin: auto;
}

#organizer {
  font-size: 22px;
  margin-left: 50px;
  margin-top: auto;
}

#vote {
  font-size: 18px;
  margin-left: 50px;
  margin-top: auto;
}

.dropdown {
  margin: auto;
}

.description {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.issueDescription {
  background-color: rgb(230, 236, 240);
  min-height: 200px;
  width: 70%;
  margin: auto;
  border-bottom: 5px solid rgb(87, 37, 37);
  border-radius: 10px;
  padding: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.issueComments {
  background-color: rgb(230, 236, 240);
  width: 80%;
  margin: auto;
  border-bottom: 5px solid rgb(87, 37, 37);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

.reacts {
  position: absolute;  
  bottom: 0;
  right: 0;                             
}

.labels {
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 22px;
}

#organizer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.photos {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#issuePhoto {
  margin: auto;
  object-fit: cover;
  border-radius: 10%;
  height: 250px;
  width: 250px;
  margin-bottom: 30px;
  transition: 0.3;
}

#issuePhoto:hover {
  cursor: pointer;
  opacity: 0.7;
}
