<app-header></app-header>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBvusOAv35UQ0CkMbZzFgx6FUGP4pZeDo&callback=initMap"
  type="text/javascript"></script>
<div class="container">
    <div class="row mr-0">
        <h1>Report an issue</h1>
    </div>
</div>
<div class="mapContainer">
    <agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude"  (mapReady)="mapReadyHandler($event)">
        <agm-marker
                [latitude]="markerLat"
				[longitude]="markerLng"
				[opacity]="markerAlpha"
                [markerDraggable]="true"
		>
		</agm-marker>
    </agm-map>
</div>
<form id="petitionForm" action="" [formGroup]="addIssueForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">Address:</label>
            <input #address type="text" name="Address" class="form-control" id="inputAddress" placeholder="Address" value="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPhoneNr">Phone Number:</label>
            <input type="text" name="PhoneNr" class="form-control" id="inputPhoneNr" placeholder="Phone Nr.">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputIssueTitle">Title:</label>
            <input type="text" autocomplete="off" name="IssueTitle" class="form-control" formControlName="title" id="inputIssueTitle" placeholder="">
            <app-field-error-display [displayError]="isFieldValid('title')"
                                       errorMsg="Please inform the title">
              </app-field-error-display>
        </div>
    </div>
    <div class="form-row">
        <span>Description: &nbsp;</span>
        <textarea id="issueDescription" name="issueDescription" formControlName="description" rows="4" cols="50"></textarea>
        <app-field-error-display [displayError]="isFieldValid('description')"
                                       errorMsg="Please inform the description">
              </app-field-error-display>
    </div>
    <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
    <input type='file' (change)="onSelectFile($event)" multiple>
    <div class="text-center">
        <button type="button" id="submit" class="btn" (click)="addIssue()">Submit</button>
    </div>
    <p class="text-center" style="color:red;" *ngIf="userIdInvalid==true">You need to login</p>

</form>
