@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

div.mapContainer {
  margin: auto;
  margin-top: 2em;
  width: 80%;
  border: 10px solid black;
  border-radius: 10px;
}

agm-map {
  height: 500px;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin: auto;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

form {
  z-index: 0;
  margin-left: 4em;
  margin-right: 4em;
  background-color: #f1f1f1;
  margin-bottom: 5em;
  padding-top: 1em;
  margin-top: 5em;
  padding: 4em;
  border: hidden;
  border-radius: 10px;
}

img {
  margin: 2em;
  border-radius: 5px;
}
.btn {
  background-color: rgb(20, 182, 20);
  color: white;
}

.btn:hover {
  background: rgb(0, 0, 0);
}
