#modal {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 55%;
  margin: auto;
  display: block;
  margin-top: 100px;
  padding: 2em;
}

.btn {
  background-color: blue;
  color: white;
}
.response {
  display: flex;
  flex-direction: column;
  align-items: center;
}
