<div bsModal class="row modal fade" #issueStatePhoto="bs-modal">
    <div id="modal">
        <div class="form-group col-md-6">
            <input type='file' (change)="onSelectFile($event)" multiple>
        </div>
        <img *ngFor='let url of urls'  src="{{url}}" height="200"> <br/>
        <div *ngIf="currentState.type == 2">
            <span>Response Description: </span>
            <textarea id="response" [(ngModel)]="authorityResponse" rows="4" cols="30"></textarea>
        </div>
        <button style="margin-top: 20px;" class="btn-primary" (click)="addNextState()">Submit</button>
    </div>
</div>
