#modal {
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 100px;
    padding: 2em;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}