ng-sidebar-container {
  height: 100vh;
}
::ng-deep .ng-sidebar {
  background-color: black;
  color: white;
  width: 400px;
  padding-right: 1em;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.btn {
  color: white;
}

.menu {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin-top: 1em;
  display: block;
}
.menu li {
  margin-bottom: 15px;
}
.menu li a {
  display: block;
  width: 100%;
}
#exit {
  display: flex;
  justify-content: flex-end;
}
#exit:hover {
  text-decoration: underline;
  cursor: pointer;
}
#issuePhoto {
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 20px;
}
.followup {
  background-color: red;
}

.unfollow {
  background-color: rgb(20, 182, 20);
}
#title:hover,
#organizer:hover {
  cursor: pointer;
}

#title:after {
  content: "";
  display: block;
  margin-left: 0;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

#title:hover {
  color: lightblue;
}

#title:hover:after {
  width: 100%;
  background: lightblue;
}

#organizer:after {
  content: "";
  display: block;
  margin-left: 0;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

#organizer:hover {
  color: lightblue;
}

#organizer:hover:after {
  width: 100%;
  background: lightblue;
}
