<ng-sidebar-container>
    <ng-sidebar [opened]="open">
        <p id="exit" (click)="exit()">X</p>
        <ul class="menu">
            <div class="text-center">
            <p style="font-weight: bold;">Title:</p>
            <p id="title" (click)="toPetition(issue.id)">{{issue.title}}</p>
            <p style="font-weight: bold;">Description:</p>
            <p>{{issue.description}}</p>
            <p style="font-weight: bold;">Organizer:</p>
            <p id="organizer" (click)="toProfile(organizer.id)">{{organizer.firstName}} {{organizer.lastName}}</p>
            <button *ngIf="userId!=null" class="btn" style="color: white;margin-top: 20px;" [ngClass]="{'unfollow' : activeFollow==null,
                'followup' : activeFollow != null }"
                                (click)="changeStyle();addToFavourites()">
                {{activeFollow==null ? 'Follow' : (activeFollow != null ? 'Unfollow' : '')}}
            </button>
            <img *ngIf="photo0!=null" id="issuePhoto" src="{{photo0.photo}}">
        </div>
        </ul>
    </ng-sidebar>
</ng-sidebar-container>