.table {
  margin: auto;
  width: 80%;
  margin-bottom: 100px;
}
/* tr.border_bottom td,
th {
  border-bottom: 2px solid black;
} */
th:hover {
  cursor: pointer;
}
.user:hover {
  text-decoration: underline;
  cursor: pointer;
}
td {
  font-size: larger;
}
#seeComments:hover {
  text-decoration: underline;
  cursor: pointer;
}
