<app-header></app-header>
    <div class='container'>
      <h1 class="text-center" style="margin-top:30px; margin-bottom: 50px;">Users ranking</h1>
      <div class="col-sm-12">
        <label class="control-label" style="margin-left: 200px; margin-right: 10px;">Number of users</label>
        <select [(ngModel)]="selectedOption">
          <option value="" disabled selected>Users</option>
          <option value="10">10</option>
          <option value="25">25</option>
        </select>
      </div>
          <table class="table table-striped border mt-1 table-hover">
            <thead class="thead-dark">
                <th scope="col" [appSort]="users" data-order="desc" data-name="index"><fa-icon [icon]="faBars"></fa-icon> Position</th>
                <th scope="col" [appSort]="users" data-order="desc" data-name="lastName"><fa-icon [icon]="faUser"></fa-icon> Name</th>
                <th scope="col" [appSort]="users" data-order="desc" data-name="points"><fa-icon [icon]="faAward"></fa-icon> Points</th>
            </thead>
            <tbody>
              <tr class="border_bottom" *ngFor="let user of users | slice:0:selectedOption;let pozitie = index">
                    <td>
                        {{user.index}}
                    </td>
                    <td class="user" (click)="goToUserProfile(user.id)" [ngStyle]="{'color': (user.id==userId) ? '#F4D03F' : '#000000'}" >
                        {{user.lastName}} {{user.firstName}}
                        <fa-icon *ngIf="user.id==userId" [icon]="faStar"></fa-icon>
                    </td>
                    <td>
                        {{user.points}}
                    </td>             
              </tr>
            </tbody>
          </table>
    </div>
  