<app-header></app-header>
<div class="profileDetails">
    <div class="profile">
        <img class="profilePhoto" src="assets/images/profile.png" />
        <p id="firstName"> Prenume </p>
    </div>
    <div class="rank"> Ranking </div>
</div>
<div class="options">
    
      <div>
        <ul class="nav">
          <a class="nav-link">
            <p class="opt">Followed</p>
          </a>
            <a class="nav-link">
              <p class="opt">Signed </p>
            </a>
            <a class="nav-link">
              <p class="opt">Organized </p>
            </a>
            <a class="nav-link">
              <p class="opt">Achievements </p>
            </a>
        </ul>
      </div>
    </div>
  