<app-header></app-header>
<div class="profileDetails">
    <div class="profile">
        <img class="profilePhoto" src="assets/images/profile.png" />
        <p id="firstName"> {{currentUser.firstName}} {{currentUser.lastName}} </p>
    </div>
    <div class="rank"> 
      <img id="badge" src="../../assets/images/{{currentUser.badgeType}}" alt="Ranking">
      <p>Total points: {{currentUser.points}}</p> 
    </div>
</div>
<div class="options">
  <div>
    <ul class="nav">
      <a *ngFor="let option of options" class="nav-link">
        <p class="opt" (click)="changeOption(option)">{{option}}</p>
      </a>
    </ul>
  </div>
</div>
<div *ngIf="selectedOption == 'Organized'">
  {{selectedOption}}
  <div *ngFor="let issue of currentUser.issues">
         
        <div class="issueView" >
                <p class="issueTitle" (click)="toIssue(issue.id)">{{issue.title}}</p>
        </div>
      </div>
</div>

<div *ngIf="selectedOption == 'Followed'">

         {{selectedOption}}
        
</div>

<div *ngIf="selectedOption == 'Signed'">

  {{selectedOption}}
 
</div>

<div *ngIf="selectedOption == 'Prizes'">
  <div *ngFor="let prize of userPrizes">
    <span>Owned Prizes</span>
    <div class="myPrizes">
      <div class="prizeName">
        <p>{{ prize.name }}</p>
      </div>
      <p>{{ prize.description }}</p>
    </div>
  </div>
  {{selectedOption}}
  <div *ngFor="let prize of availablePrizes">
    <div class="allPrizes">
        <div class="prizeName">
          <p>{{ prize.name }}</p>
        </div>
        <p>{{ prize.description }}</p>
        <p class="price">Price: {{ prize.price }}</p>
        <button type="button" class="btn btn-primary">Redeem</button>
    </div>
  </div>
 
</div>