*{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.listTitle {
  background-color: darkcyan;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  border-radius: 30px;
}

.detailsRight {
  max-width: 60%;
  width: 50%;
  margin-top: 20px;
}

.detailsLeft {
  align-self: flex-start;
  flex-direction: column;
  max-width: 40%;
  width: 40%;
  margin-right: 70px;
}

.container {
  display: flex;
  flex-direction: row;
}

.flex-column .nav-item a {
  margin-top: 20px;
  margin-left: 2em;
}

.selectorItem {
  background-color: white;
  display: block;
  padding: 12px;
  margin-top: 50px;
  text-align: center;
}

.selector a.active {
  background-color: darkcyan;
  color: white;
  border-radius: 30px;
}

.selector {
  max-width: 100%;
  width: 60%;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 100%;
}

.selector ul {
  margin-left: 220px;
}

#dividerText {
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: small;
  font-weight: bold;
}

hr {
  margin-left: 1em;
  width: 80%;
  height: 1px;
  background-color: rgb(175, 175, 175);
  border-radius: 5px;
}

.profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 75%;
  align-items: center;
}

#firstName {
  font-size: 20px;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
.rank {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}
.options {
  margin-top: 50px;
  background-color: rgb(230, 236, 240);
  border-bottom: 8px solid rgb(87, 37, 37);
  border-top: 8px solid rgb(87, 37, 37);
  border-radius: 15px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.opt {
  color: black;
  font-size: 40px;
  border-radius: 10px;
}
.opt:hover {
  color: #ff7a59;
}
.issueView {
  margin-top: 20px;
  margin-left: 10px;
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgb(23, 87, 143);
  border-radius: 7px;
  background-color: rgb(230, 236, 240);
  box-shadow: 0 2px 3px rgb(37, 37, 37);
}
.content {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.issueTitle {
  font-size: larger;
}
.issueTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}
#badge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8rem;
  width: 7rem;
  margin-top: 20px;
}

.allPrizes {
  margin-top: 20px;
  margin-left: 10px;
  width: 96%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(23, 87, 143);
  border-radius: 7px;
  background-color: rgb(230, 236, 240);
  box-shadow: 0 2px 3px rgb(37, 37, 37);
}

.prizeName {
  font-weight: bold;
  margin-right: auto;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.allPrizes p {
  margin-left: 0;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.price {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

progress[value] {
  width: 250px;
  height: 25px;
}

.userIcon {
  font-size: 3em;
}
