@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.detaliiIssue {
  margin-left: 50px;
  font-weight: normal;
}

.issueTitle {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: bold;
}

#organizer {
  margin-left: 50px;
  font-size: 20px;
  font-weight: normal;
  margin-top: auto;
}

.sortbar {
  margin-top: auto;
  padding-left: 2em;
  font-weight: normal;
}

.view {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 50px;
  width: 90%;
  background-color: rgb(230, 236, 240);
  border-radius: 5px;
}

h2 {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 30px;
  font-weight: normal;
}

#searchBar {
  border-radius: 10px;
  background-size: 50px;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 50px;
  padding-left: 100px;
  height: 30px;
  margin-top: 50px;
}

.searchHeader {
  display: flex;
  flex-direction: row;
}

#title:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}
