<app-header></app-header>
<h1>Sign up</h1>
<div class="container">
  <form class="form-container" [formGroup]="addUserForm">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="firstName" class="control-label required">First name</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          formControlName="firstName"
          autocomplete="off"
        />
        <app-field-error-display
          [displayError]="isFieldValid('firstName')"
          errorMsg="Please inform your first name"
        >
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="lastName" class="control-label required">Last name</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          formControlName="lastName"
          autocomplete="off"
        />
        <app-field-error-display
          [displayError]="isFieldValid('lastName')"
          errorMsg="Please inform your last name"
        >
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="email" class="control-label required">Email</label>
        <input
          type="email"
          id="mail"
          class="form-control"
          formControlName="mail"
          autocomplete="off"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        />
        <app-field-error-display
          [displayError]="isFieldValid('mail')"
          errorMsg="Please inform your email"
        >
        </app-field-error-display>
        <!-- <div *ngIf="addUserForm.controls['email'].errors?.pattern">
          Email not valid.
        </div> -->
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <label for="password" class="control-label required"
          >Password (must contain at least 8 characters and at least one
          number)</label
        >
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          autocomplete="off"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
        />
        <app-field-error-display
          [displayError]="isFieldValid('password')"
          errorMsg="Please complete a password"
        >
        </app-field-error-display>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
          <label for="inputIssueTitle">CNP:</label>
          <input type="text" class="form-control"
          autocomplete="off"
          pattern="^(\d{13})?$"
           formControlName="cnp">
           <app-field-error-display [displayError]="isFieldValid('cnp')"
                             errorMsg="Please inform your CNP">
    </app-field-error-display>
      </div>
  </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputAddress">Address:</label>
            <input type="text" class="form-control"
            autocomplete="off"
            formControlName="adresa">
            <app-field-error-display [displayError]="isFieldValid('adresa')"
                               errorMsg="Please inform your address">
      </app-field-error-display>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputIdCardSeries">ID card series:</label>
            <input type="text" class="form-control"
            autocomplete="off"
            pattern="^([A-Z]{2})?$"
             formControlName="serieBuletin">
             <app-field-error-display [displayError]="isFieldValid('serieBuletin')"
                               errorMsg="Please inform your ID card series">
      </app-field-error-display>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputIdCardNumber">ID card number:</label>
            <input type="text" class="form-control"
            autocomplete="off"
            pattern="^(\d{6})?$"
            formControlName="numarBuletin">
            <app-field-error-display [displayError]="isFieldValid('numarBuletin')"
                               errorMsg="Please inform your ID card number">
      </app-field-error-display>
        </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
    <button class="btn" (click)="onSubmit()">Submit</button>
      </div>
    </div>
    <button class="btn" (click)="reset()">Reset</button>
  </form>
  <p *ngIf="success" style="color: green; font-size: 22px">
    User added successfully
  </p>
  <p *ngIf="success === false" style="color: red; font-size: 22px">
    Something went wrong
  </p>
</div>
